.wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
    background-color: transparent;

    .play {
        width: 4rem;
        height: 4rem;
        border-radius: 0.5rem;
        object-fit: contain;
        margin: 0 1.2rem 0 0.8rem;
    }

    .info {
        flex: 1;
        .nameSong {
            font-size: 1.3rem;
            font-weight: 500;
            color: var(--white-color);
            text-transform: capitalize;
            margin-bottom: 0.4rem;
            text-overflow: ellipsis;
        }

        .singer {
            font-size: 1.2rem;
            font-weight: 500;
            color: var(--blur-color);
            text-overflow: ellipsis;
            text-transform: capitalize;
        }
    }

    .boxSongPlay {
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center;

        width: 4rem;
        height: 4rem;
        margin: 0 1.2rem 0 0.8rem;
        border-radius: 0.5rem;

        background-color: rgba(0, 0, 0, 0.5);

        .songPlay {
            display: none;
            width: 1.8rem;
            height: 1.8rem;
        }

        .iconPlay {
            font-size: 1.8rem;
            color: var(--white-color);
        }

        // .songPlay.active {
        //     display: none;
        // }

        // .iconPlay.active {
        //     display: none;
        // }
    }

    // .iconPlay {
    //     width: 4rem;
    //     height: 4rem;
    //     font-size: 1.8rem;
    //     margin: 0 1.2rem 0 0.8rem;
    //     color: var(--white-color);
    //     background-color: rgba(0, 0, 0, 0.5);

    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    .content {
        display: none;
        margin-right: 1rem;
        font-size: 1.6rem;

        .iconHeart {
            color: var(--primary-color);
            // margin-right: 1rem;
            padding: 0.8rem;
            border-radius: 50px;
            &:hover {
                background-color: var(--active-color);
            }
        }

        .iconMenu {
            padding: 0.8rem;
            border-radius: 50px;
            color: var(--white-color);

            &:hover {
                background-color: var(--active-color);
            }
        }
    }
}

.wrapper.active {
    background-color: var(--primary-color);
    .boxSongPlay {
        display: flex;

        .songPlay.isPlay {
            display: block;
        }

        .songPlay.isPause {
            display: none;
        }

        .iconPlay.isPause {
            display: block;
        }
        .iconPlay.isPlay {
            display: none;
        }
    }

    // .boxSongPlay.isPause {
    //     display: flex;
    //     .songPlay {
    //         display: none;
    //     }

    //     .iconPlay {
    //         display: block;
    //     }
    // }
}

.wrapper:hover {
    background-color: var(--active-color);
    cursor: pointer;

    .content {
        display: block;
    }

    .boxSongPlay {
        display: flex;
    }
}
