.wrapper {
    width: 100%;

    .listSongBody {
        display: flex;

        .boxImg {
            position: relative;
            flex: 1;
        }

        .boxSong {
            margin: 1rem 0;
            flex: 2;
            height: 241px;
            overflow: auto;
        }
    }
}
