@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'normalize.css';

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ed2b91;
    --sub-color: #6a39af;

    --header-color-0: #37075d;
    --header-color-1: #282828;
    --header-color-2: #061d50;
    --header-color-3: #e7dfdd;
    --header-color-4: #b2d8db;
    --header-color-5: #f9dbdb;
    --header-color-6: #bab8c3;
    --header-color-7: #ffffff;

    --option-color-0: #816399;
    --option-color-1: #787878;
    --option-color-2: #637191;
    --option-color-3: #e5e2e0;
    --option-color-4: #d9ecee;
    --option-color-5: #eee0dc;
    --option-color-6: #c9c8cf;
    --option-color-7: #ffffff;

    --sidebar-bg: rgba(255, 255, 255, 0.05);
    --active-color: rgba(255, 255, 255, 0.1);
    --active-color-hover: rgba(255, 255, 255, 0.05);
    --blur-color: rgba(255, 255, 255, 0.5);

    --side-padding: 28px;
    --next-song-width: 329px;
    --next-song-width-laptop: 250px;
    --sidebar-width: 240px;
    --music-control-height: 90px;
    --header-height: 70px;
    --search-width: 540px;
    --search-height: 40px;
    --profile-height: 180px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* -- css Scroll-Bar --  */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* background */
::-webkit-scrollbar-track {
    background: transparent;
}

/* scrollBar */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* scrollBar on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7b47a5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
