.wrapper {
    width: var(--next-song-width);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 0.6rem;
    height: 100vh;
    overflow-y: auto;

    .text {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--white-color);
        margin: 2rem 0 1rem 1rem;
    }
    .listSongs {
        height: calc(100vh - var(--music-control-height) - 70px);
        overflow-y: auto;
    }
}

.boxHeader {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;

    .boxButtom {
        border-radius: 5rem;
        background-color: var(--backgroud-color);
        padding: 0.35rem;
        width: 23rem;
        height: 3.4rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn {
            width: 50%;
            height: 100%;
            background-color: transparent;

            font-size: 1.2rem;
            font-weight: 500;
            color: var(--white-color);
            border: none;
            border-radius: 4.8rem;

            &:last-child {
                margin-left: 0.5rem;
            }
            &:hover {
                opacity: 0.8;
            }
        }

        .btn.active {
            background-color: var(--backgroud-buttom);
        }
    }

    .boxIcon {
        display: flex;

        align-items: center;
        .icon {
            font-size: 1.6rem;
            padding: 0.7rem 0.9rem;
            background-color: var(--active-color);
            border-radius: 100px;
            color: var(--white-color);

            &:last-child {
                margin-left: 0.5rem;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
